<html>
<head>
<link rel="stylesheet" text="text/css" href="/contrail.css">
<title>Scalaris Cluster</title>
</head>
<body>

<h2>Scalaris Cluster #<%= @id %></h2>
Created at: <%= @instance.created_at %><br>
Head node: #<%= @instance.head_node %><br>

<a href="http://<%= @master %>:8000">Management Console</a>

<h3>VMs</h3>
<table class="vmtable">
<% @instance.scalarisvms_dataset.each do |vm| %>
<tr>
  <td><a href="/one/vm/<%= vm.one_vm_id %>">#<%= vm.one_vm_id %></a></td>
  <td><form action="/scalaris/<%= @id %>/<%= vm.one_vm_id %>/delete" method="post"><input type="image" src="/cnrdelete-all.png"></form></td>
</tr>
<% end %>
</table>

<div style="padding-top: 30px">
<form action="/scalaris/<%= @id %>/add" method="post">
  <div style="margin:0;padding:0;display:inline">
    <input name="_method" type="hidden" value="post" />
  </div>
  <input id="submit" name="commit" type="submit" value="Add Node" />
</form>

<form action="/scalaris/<%= @id %>/destroy" method="post">
  <div style="margin:0;padding:0;display:inline">
    <input name="_method" type="hidden" value="post" />
  </div>
  <input id="submit" name="commit" type="submit" value="Destroy Cluster" />
</form>
</div>

<br/>

<a href="/" class="lowermenu">Main</a> 
<a href="/scalaris" class="lowermenu">Scalaris</a> 
<a href="/wiki" class="lowermenu">Wiki</a> 
<a href="/one" class="lowermenu">OpenNebula</a>
</body>
</html>
