<html>
<head>
<link rel="stylesheet" text="text/css" href="/contrail.css">
<title>Hadoop Added Instance</title>
</head>
<body>

<h2>Hadoop Added Instance</h2>
Added <a href="/one/vm/<%= @new_vm_id %>"><%= @new_vm_id %></a>

<h3>VMs</h3>
<% @instance.hadoopvms_dataset.each do |vm| %>
  <li><a href="/one/vm/<%= vm.one_vm_id %>"><%= vm.one_vm_id %></a></li>
<% end %>

<a href="/hadoop/<%= @instance.id %>">Back to instance <%= @instance.id %></a>
</body>
</html>
