<html>
<head>
<title>Opennebula Image</title>
<link rel="stylesheet" text="text/css" href="/contrail.css">
</head>
<body>

<h2>Opennebula Image</h2>

<table>
<tr>
<th></th>
<th></th>
</tr>
<tr>
  <td>Id:</td>
  <td><%= @image['ID'] %></td>
</tr>
<tr>
  <td>User</td>
  <td><%= @image['USERNAME'] %></td>
</tr>
<tr>
  <td>Name</td>
  <td><%= @image['NAME'] %></td>
</tr>
<tr>
  <td>Public</td>
  <td><%= @image['PUBLIC'] %></td>
</tr>
<tr>
  <td>Persistent</td>
  <td><%= @image['PERSISTENT'] %></td>
</tr>
<tr>
  <td>Source</td>
  <td><%= @image['SOURCE'] %></td>
</tr>
<tr>
  <td>State</td>
  <td><%= @image.state_str %></td>
</tr>
<tr>
  <td>Running VMs</td>
  <td><%= @image['RUNNING_VMS'] %></td>
</tr>
<tr>
  <td>Register Time</td>
  <td><%= Time.at(@image['REGTIME'].to_i) %></td>
</tr>
</table>

</body>
</html>
