<html>
<head>
<title>Opennebula</title>
<link rel="stylesheet" text="text/css" href="/contrail.css">
</head>
<body>

<%= @image_pool.info %>
<%= @vm_pool.info %>
<%= @host_pool.info %>

<h2>Opennebula Images</h>
<table>
<tr>
  <th>Id</th>
  <th>Name</th>
  <th>State</th>
</tr>
<% @image_pool.each do |image| %>
<tr>
  <td><a href="/one/image/<%= image.id %>"><%= image.id %></a> </td>
  <td><%= image.name %></a> </td>
  <td><%= image.state_str %></td>
</tr>
<% end %>
</table>

<h2>Opennebula VMs</h>
<table>
<tr>
  <th>Id</th>
  <th>Name</th>
  <th>Owner</th>
  <th>State</th>
</tr>
<% @vm_pool.each do |vm| %>
<tr>
  <td><a href="/one/vm/<%= vm.id %>"><%= vm.id %></a></td>
  <td><%= vm.name %></td>
  <td><%= vm['USERNAME'] %></td>
  <td><%= vm.state_str %></td>
</tr>
<% end %>
</table>

<h2>Opennebula Hosts</h>
<table>
<tr>
  <th>Id</th>
  <th>Name</th>
  <th>Cluster</th>
</tr>
<% @host_pool.each do |host| %>
<tr>
  <td><a href="/one/host/<%= host.id %>"><%= host.id %></a></td>
  <td><%= host.name %></td>
  <td><%= host['CLUSTER'] %></td>
</tr>
<% end %>
</table>

<ul>
</ul>

<h2>Opennebula VNets</h>
<table>
<tr>
  <th>Id</th>
  <th>Name</th>
</tr>
<% @vnet_pool.each do |vnet| %>
<tr>
  <td><a href="/one/vnet/<%= vnet.id %>"><%= vnet.id %></a> </td>
  <td><%= vnet.name %></td>
</tr>
<% end %>
</ul>

</body>
</html>
